
 




.cards__title {
    white-space: nowrap;
    margin: 0;
    position: relative;
    left: 20px;
    font-size: 18px;
    margin-top: 6px;
}
.cards__description {
    width: 500px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
}