.cards {
    
}
.cards__wrapper {
    display: grid;
    grid-template-columns: repeat(2,580px);
    gap: 20px;
    position: relative;
    justify-content: center;
}
.cards__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.cards__item {
    padding: 20px;
    min-height: 197px;
}
.cards__item:not(:last-child){
    margin-bottom: 20px;
}
.cards__item--farmer {
    background: #E1EDCE;
}
.cards__item--shop {
    background: #F8DDD7;
}
.cards__item-image {
    float: left;
}
.cards__title-status {
    white-space: nowrap;
    margin: 0;
    position: relative;
    left: 20px;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    display: flex;
    width: 178px;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
}
.cards__title-status--farmer {
    background: #88AA4D;
}
.cards__title-status--shop {
    background: #F75531;
}
.cards__title {
    white-space: nowrap;
    margin: 0;
    position: relative;
    left: 20px;
    font-size: 18px;
    margin-top: 6px;
}
.cards__description {
    width: 500px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
}